PCBs/Ai1_CC1000/.history/
PCBs/Ai1_CC1000/~Ai1_CC1000.kicad_sch.lck
PCBs/Ai1_CC1000/~Ai1_CC1000.kicad_pro.lck
Sims/Matchings.log
Sims/Matchings.op.raw
Sims/Matchings.raw
PCBs/Ai1_CC1000/~Ai1_CC1000.kicad_pcb.lck
PCBs/CC1101_Multx/.history/
PCBs/CC1101_Multx/~CC1101_Multx.kicad_pcb.lck
PCBs/CC1101_Multx/~CC1101_Multx.kicad_sch.lck
